<template>
  <div class="fsbp fspb__async-slot" :class="wrapperClasses">
    <v-progress-circular
      indeterminate
      v-if="loading"
      :loading="loading"
      v-bind="progressOptions"
    />
    <slot v-else>
    </slot>
  </div>
</template>

<script>
import { VProgressCircular } from 'vuetify/lib'
export default {
  name: 'AsyncSlot',
  components: {
    VProgressCircular
  },
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    progressOptions: {
      type: Object,
      default: ()=>({
        width: 2,
        size: 20
      })
    },
    wrapperClasses: {
      type: String,
      default: ''
    }
  }
}
</script>

<style>
</style>
