<template>
  <div>
    <AsyncSlot
      :loading="!this.ready"
      :progressOptions="progressOptions"
    >
      {{count}}
    </AsyncSlot>

    
    {{msg}}
    <br>

    <button @click="plus">plus me</button>
  </div>

</template>

<script>
import AsyncSlot from './AsyncSlot.vue'

export default {
  name: 'AsyncCount',
  components: {
    AsyncSlot
  },
  props: {
    text: {
      type: String,
      default: null
    },
    progressOptions: {
      type: Object,
      default: () => ({
        width: 2,
        size: 20
      })
    },
    module: {
      type: String,
      default: 'nuet'
    }
  },
  computed: {
    ready() {
      return this.$store.state[this.module].ready
    },
    count() {
      return this.$store.state[this.module].count
    },
    msg() {
      return this.$store.state[this.module].msg
    },
  },
  methods: {
    plus() {
      this.$store.dispatch(`${this.module}/plus`)
    }
  }
}
</script>

<style>
</style>
