<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>nuet</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-content>
      <v-layout column wrap justify-center align-content-center align-center>
        <v-flex xs12>
          <div>
            Vue + Vuex + Vuetify + Nuxt + Rollup
            Async Count module
          </div>
        </v-flex>
        <v-flex xs12>
            <AsyncCount />
        </v-flex>
      </v-layout>
    </v-content>
  </v-app>
</template>

<script>
import AsyncCount from '@/components/AsyncCount'

export default {
  name: 'App',
  components: {
    AsyncCount
  },
  data: () => ({

  }),
  mounted() {

  }
}
</script>
